@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&family=Sarabun:ital,wght@0,200;0,300;0,500;1,100;1,200;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    font-family: 'Joti One', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CFE675;
    height: 100px;
}

.perguntas{
    width: 100%;
    height: 77vh;
    background-color: #B04599;
    opacity: 0.8;
}

.questoes_pergunt{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pergunt{
    font-size: 1.5em;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-weight: 600;
    padding: 20px;
    color: rgb(27, 21, 137);
    text-align: left;
    
}
.questoesalt{
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(32, 6, 28);
    background-color:#715eee;
    margin: 10px;
    padding: 10px;

}

span{
   text-align: center;
}
.questoesalt:hover{
    color:rgb(208, 204, 207);
    transform: scale(1.1);
    cursor: pointer;
  
}

.cont_btn{
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 600px;
   
    display: flex;
    flex-direction: column;
    align-items: end;
}

.btn_prox{
    display: none;
    border: none;
    cursor: pointer;
   
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: #32c849;
    font-size: 1rem;
}

footer{
    background-color: rgb(121, 17, 185);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 10vh;
    padding: 20px;
}

.correct{
    max-width: 600px;
    width: 80%;
    color: white;
    font-weight: bold;
    background-color: green;
    margin: 10px;
    padding: 10px;
}
.incorrect{
    max-width: 600px;
    width: 80%;
    color: white;
    font-weight: bold;
    background-color: red;
    margin: 10px;
    padding: 10px;
}
.total{
    display: flex;
      text-align: center;
      margin-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Joti One', serif;
    width: 300px;
    height: 200px;
    background-color: red;
}
.container_total{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    background-color:#d7a1cb;
}
.container h1{
    font-family: 'Joti One', serif;
}

.btn_jogar{
    margin-top: 30px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn_jogar:hover{
    cursor: pointer;
    background-color: rgb(48, 48, 195);
}